BasedOnStyle: LLVM
IndentWidth: 4
PointerAlignment: Left
ColumnLimit: 120
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveTableGenBreakingDAGArgColons: Consecutive
AlignConsecutiveTableGenCondOperatorColons: Consecutive
AlignConsecutiveTableGenDefinitionColons: Consecutive
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: AlignAfterOperator
SpaceAfterCStyleCast: true
SpaceAfterOperatorKeyword: true
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: false
SpaceBeforeEnumUnderlyingTypeColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: false
  AfterFunctionDeclarationName: true
  AfterFunctionDefinitionName: true
  AfterIfMacros: false
BreakTemplateDeclarations: Yes
